@mixin font-face($font-family, $font-weight, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: normal;
    src: $font-src;
    font-display: swap;
  }
}

@mixin margin-padding() {
  margin:0;
  padding:0;
}

@mixin link() {
  color: $color-text-F;
  text-decoration: none;
  text-transform: uppercase;
}

@mixin title-1() {
  font-size: $size-60;
  line-height: 60px;
  font-weight: 400;
}

@mixin text-lato() {
  font-family: $lato-font;
  font-weight: 400;
  font-size: $size-16;
  line-height: 24px;
  color: $color-text-4;
}

@mixin font-text($size, $line, $weight) {
  font-size: $size;
  line-height: $line;
  font-weight: $weight;
}
