/* здесь используйте глобальные переменные */
$color-text-0: #000000;
$color-text-F: #FFFFFF;
$color-text-4: #444444;
$color-text-1: #111111;
$color-text-2: #222222;
$bg-color-green: #68B738;
$bg-color-green-opacity: rgba(104, 183, 56, 0.85);
$bg-color-white: #FFFFFF;
$bg-color-gray: #F2F2F2;
$size-14: 14px;
$size-16: 16px;
$size-20: 20px;
$size-24: 24px;
$size-30: 30px;
$size-36: 36px;
$size-60: 60px;
